[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	ignore = dirty
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-ansible-yaml"]
	path = .vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/MatchTag"]
	path = .vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/perlomni.vim"]
	path = .vim/bundle/perlomni.vim
	url = https://github.com/c9s/perlomni.vim.git
