[submodule ".vim/bundle/syntastic.vim"]
	path = .vim/bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/MatchTag"]
	path = .vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/perlomni.vim"]
	path = .vim/bundle/perlomni.vim
	url = https://github.com/c9s/perlomni.vim.git
[submodule ".vim/bundle/vim-ir_black"]
	path = .vim/bundle/vim-ir_black
	url = https://github.com/wesgibbs/vim-irblack.git
[submodule ".vim/bundle/vim-perldoc"]
	path = .vim/bundle/vim-perldoc
	url = https://github.com/hotchpotch/perldoc-vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/conflict-marker.vim"]
	path = .vim/bundle/conflict-marker.vim
	url = https://github.com/rhysd/conflict-marker.vim.git
    ignore = dirty
[submodule ".vim/bundle/ctrlpvim"]
	path = .vim/bundle/ctrlpvim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
